.conda/
.vscode/
.ipynb_checkpoints/
/__pycache__/
__pycache__/
best_model.pth
config.yaml
pseudo_model.pth
notebook.ipynb
Функционал из main
*.pth
*.swp
*.pt
*.onnx
*.rknn
.venv
*.save
images/
annotations/
*.txt
*.tar
/tars
/data
logs/udp_server_output.log
